*{
    padding: 0;
    margin: 0;
}
header {
    background: #036b03;
    display: inline;
    height: 120px;
}   


.li {
    color:white;
}

.caixa{
    width: auto;
    position: relative;
    margin:0 auto;
}

nav li {
    position: relative;
    top:15px;
    display: inline;
    margin:10px;
    
}
nav i {
    padding: 10px;
}

nav a {
    position: relative;
    font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
    color:#000000;
    text-decoration: none;
    font-size: 20px;
    padding: 8.5%;
}
.flores {
    position: absolute;
    left: 1450px;
}

.logocampo {
    position: relative;
    left: 890px;
}

.paragrafo {
    font-size: 15px;
}

footer {
    position: relative;
    background: #036b03;
    height: 120px;
}

.sociais {
    position: relative;
    text-align: center;
    margin:0 auto;
    display:inline;
}
    
form {
    position: relative;
    right: -720px;
    margin: auto;
    padding: 45px;
    
}

form label {
    display:block;
}

form input, form textarea{
    margin: 5px;
    padding:5px 10px;
    width: 15%;
}

.enviar, .limpar {
    position: relative;
    right: 65px;
    width: 10%;
    cursor: pointer;
}

tr, th {
    padding: 20px;
    
}

