*{
    padding: 0;
    margin: 0;
}

header{
    background: #000000;
    height:50px;
}

.li {
    color:white;
    
}
#banner{
    width: 100%;
    height: 160px;
}

nav li {
    display: inline;
    margin: 5px;
}

nav a {
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

nav li {
    position: relative;
    top:10px;
}
footer {
    background: #000000;
    height: 210px;
}