*{
    padding: 0;
    margin: 0;
    font-family: Arial;
}

header{
    background: #000000;
    height:50px;
}

body {
    background: #696969;
}

.li {
    color:white;
}

.caixa{
    width: auto;
    position: relative;
    margin:0 auto;
}

nav li {
    position: relative;
    top:15px;
    display: inline;
    margin:10px;
}

nav a {
    color:#ffffff;
    text-decoration: none;
    padding:9.5%;
    font-size: 20px;
}
h1{
    color: #ffffff;
    font-size: 15px;
    
}
footer {
    background: #000000;
    height: 100px;

}
.sociais {
    position: relative;
    text-align: center;
    margin:0 auto;
    display:inline;
}
.fa-facebook{
    color:white;
}
.fa-instagram{
    color:white;
}
.fa-whatsapp{
    color:white;
}
